{% extends "base.html" %}
{% block title %}Mesajlarım{% endblock %}

{% block content %}
<h4 class="mb-4 text-center">Mesajlarım</h4>

{% if kisiler %}
  <ul class="list-group">
    {% for kisi in kisiler %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ kisi.username }}
        <a href="{% url 'mesajlasma' kisi.id %}" class="btn btn-sm btn-outline-primary">Sohbete Git</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert alert-info text-center">Henüz mesajlaştığınız bir kullanıcı yok.</div>
{% endif %}
{% endblock %}